* {
    box-sizing: border-box;
    color: white;
    box-shadow: none;
}

body{
    background-image: url("../images/sports.png");
    
}


.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: orange;
    font-weight: 600;
    line-height: 1.125;
}


.hero { 
    background-image: url("../images/sports.png");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.navbar-menu{
    background-color:black;
    box-shadow: 0 8px 16px rgba(10,10,10,.1);
    padding: .5rem 0;
}


.navbar-brand .navbar-item, .navbar-tabs .navbar-item {
    align-items: center;
    display: flex;
    background-color: black;
}

.navbar {
    background-color: black;
    min-height: 3.25rem;
    position: relative;
    z-index: 30;
}

.navbar-link, a.navbar-item {
    cursor:pointer;
    color: orange;
}

a {
    color: orange;
    cursor: pointer;
    text-decoration: none;
}

.footer {
    background-color:black;
    padding: 3rem 1.5rem 6rem;
    text-decoration-color: white;
}


strong {
    color:orange;
    font-weight: 700;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .instagram {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }

  #newsFeed {
      background: transparent;   
  }

  a {
    color: wheat;
    cursor: pointer;
    text-decoration: none;
  }

  .tile {
      background: transparent;
  }

  .button.is-primary {
    background-color: orange;
    border-color: transparent;
    color: #fff;
}

.button.is-link {
    background-color: orange;
    border-color: transparent;
    color: #fff;
}

.seat_geek_icons {
  clear: none;
  float: left;
}

.seat_geek_text {
  clear: none;
  float: left;
  margin: 0px 0px 0px 5px;
}

.giphy {
  margin: 10px 0 10px 0px;
}